body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #0f172a;
  color: white;
}

* {
  box-sizing: border-box;
}
@media print {
  body {
    background: white !important;
    color: black !important;
  }

  button,
  .sidebar {
    display: none !important;
  }
}